---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if not p.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ "/" if p.page.filePathStem == "/index" else p.page.filePathStem + ".html" }}</loc>
    <lastmod>{{ p.date | isoDate }}</lastmod>
  </url>
{%- endif %}{% endfor %}
</urlset>
